<!DOCTYPE html>

<html>
    <head>
        <title>Listado de Cargos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="alert alert-success" th:if = "${mensajeOk}" != null>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Felicidades!</strong> 
            <span th:text="${mensajeOk}"></span>
        </div>
        <div class="alert alert alert-danger" th:if = "${mensajeError}" != null>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Oops!</strong> 
            <span th:text="${mensajeError}"></span>
        </div>
        <div class="container">
            <form action="/postulaciones" method="POST">
                <table class="table table-hover">
                    <thead>     
                        <tr>
                            <th>Nivel</th>
                            <th>Asignatura</th>
                            <th>Escuela</th>
                            <th>Distrito</th>
                            <th>Horario</th>
                            <th>Puntaje minimo</th>
                            <th>Seleccione un cargo</th>
                        </tr>
                    </thead>
                    <tbody> 
                        <tr th:each="cargo:${cargos}">
                            <td th:text="${cargo.nivel}"></td>
                            <td th:text="${cargo.asignatura}"></td>
                            <td th:text="${cargo.escuela}"></td>
                            <td th:text="${cargo.distrito}"></td>
                            <td th:text="${cargo.horario}"></td>
                            <td th:text="${cargo.puntaje}"></td>
                            <td>
                                <input type="radio" th:id="${cargo.id}" th:value="${cargo.id}" name="cargo">
                            </td>         
                        </tr>    
                    <tbody>
                </table>
                <div>
                    <br/>Ingresar email:&nbsp;<input type="email" name="email" id="email" required="required">
                    <input class="btn btn-outline-primary" type="submit" value="Enviar Solicitud">  
                </div>
            </form><br/>
            <form action="/postulaciones/misPostulaciones" method="GET">
                <fieldset>
                    <legend>Consulte sus postulaciones !</legend>
                    <div>
                        Ingresar email:&nbsp;<input type="email" name="email" id="email" required="required">
                        <input class="btn btn-outline-primary" type="submit" value="Enviar Consulta">    
                    </div>
                </fieldset>
            </form>
        </div>
    </body>
</html>
