<!DOCTYPE html>
<html>
    <head>
        <title>Postulaciones</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <table class="table table-hover">
                <thead>     
                    <tr>
                        <th>Nivel</th>
                        <th>Escuela</th>
                        <th>Distrito</th>
                        <th>Email</th>
                        <th>Confirmacion</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr th:each="misPostulaciones:${misPostulaciones}">
                        <td th:text="${misPostulaciones.cargo.nivel}"></td>
                        <td th:text="${misPostulaciones.cargo.escuela}"></td>
                        <td th:text="${misPostulaciones.cargo.distrito}"></td>
                        <td th:text="${misPostulaciones.email}"></td>
                        <td th:text="${misPostulaciones.estado}"></td>
                    </tr>    
                <tbody>
            </table>
        </div>
    </body>
</html>

