<!DOCTYPE html>
<html>
    <head>
        <title>Postulaciones</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container">
            <table class="table">
                <thead>     
                    <tr>
                        <th>Nivel</th>
                        <th>Escuela</th>
                        <th>Distrito</th>
                        <th>Email</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr th:each="postulacion:${postulaciones}">
                        <td th:text="${postulacion.cargo.nivel}"></td>
                        <td th:text="${postulacion.cargo.escuela}"></td>
                        <td th:text="${postulacion.cargo.distrito}"></td>
                        <td th:text="${postulacion.email}"></td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-info dropdown-toggle js-estado-postulacion" data-toggle="dropdown" role="button" th:text="${postulacion.estado}">
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item" th:each="estado:${estados}">
                                        <a class="js-estado-item" th:data-id-postulacion="${postulacion.id}" th:data-estado-postulacion="${estado}" href="#" th:text="${estado}"></a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>    
                <tbody>
            </table>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="jquery.js"></script>
    </body>
</html>

